<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Waiter name</th>
      <th>Table</th>
      <th>Created At</th>
      <th>Paid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @paid_orders.each do |order| %>
      <tr>
        <td><%= order.waiter_name %></td>
        <td><%= order.ipad_id %></td>
        <td><%= order.created_at.strftime("%m/%d/%Y, %I:%M %p") %></td>
        <td><%= order.paid %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>