<% if current_user %>
	<br>
	<h1><%= @restaurant.name %></h1>
	<div class="row">
		<div class="col-lg-6">
			<h2>Unpaid Orders</h2>
		  	<%= render :partial => "dashboard_orders" %>
		  	<br>
		  	<h2>Paid Orders</h2>
		  	<%= render :partial => "dashboard_paid_orders" %>
		</div>
		<div class="col-lg-6">
		  	<h2>Menu</h2>
			<%= render :partial => "dashboard_menu" %>
		</div>
	</div>
<%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant) %> |
<%= link_to 'List Restaurants', restaurants_path %>
<% else %>
	You are not logged in.
<% end %>