<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @item.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Available:</strong>
  <%= @item.available %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @item.restaurant.name %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
