<p id="notice"><%= notice %></p>

<p>
  <strong>Waiter name:</strong>
  <%= @order.waiter_name %>
</p>

<p>
  <strong>Ipad ID:</strong>
  <%= @order.ipad_id %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @order.restaurant_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
