<div id="footer">
	<!-- link_to 'Home', home_path -->
  <!-- link_to 'About AMK School', about_path -->
	<!-- link_to 'Contact Us', contact_path -->
	<!-- link_to 'Privacy Policy', privacy_path -->
	<br />
	<div id="copy">
		Webmaster: <%= mail_to("dzhao@andrew.cmu.edu", "Delia & Connie & Harris & Jack... we did it", :encode => "javascript") %> 
		&nbsp;&nbsp;&copy 2014
		<p class="supertiny">&nbsp;</p>
	</div>



	  <div id="container">
    <div id="login">
      <% if logged_in? %>
      <%= link_to 'Logout', logout_path %>
      <br>[<%= current_user.restaurant.name %>:<%= current_user.role %>]
    <% else %>
      <%= link_to 'Login', login_path %>
    <% end %>
    </div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
  </div>

</div>