<p id="notice"><%= notice %></p>

<p>
  <strong>Waiter name:</strong>
  <%= @session.waiter_name %>
</p>

<p>
  <strong>Ipad ID:</strong>
  <%= @session.ipad_id %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @session.restaurant_id %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
