<h1>Listing item_splits</h1>

<table>
  <thead>
    <tr>
      <th>Ordered items</th>
      <th>Customer</th>
      <th>Percentage</th>
      <th>Details</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @item_splits.each do |item_split| %>
      <tr>
        <td><%= item_split.ordered_items_id %></td>
        <td><%= item_split.customer_id %></td>
        <td><%= item_split.percentage %></td>
        <td><%= item_split.details %></td>
        <td><%= link_to 'Show', item_split %></td>
        <td><%= link_to 'Edit', edit_item_split_path(item_split) %></td>
        <td><%= link_to 'Destroy', item_split, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item split', new_item_split_path %>
