<p id="notice"><%= notice %></p>

<p>
  <strong>Ordered items:</strong>
  <%= @item_split.ordered_items_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @item_split.customer_id %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @item_split.percentage %>
</p>

<p>
  <strong>Details:</strong>
  <%= @item_split.details %>
</p>

<%= link_to 'Edit', edit_item_split_path(@item_split) %> |
<%= link_to 'Back', item_splits_path %>
